.contact-map {
   // .contact-map__container

   &__container {
   }

   // .contact-map__title

   &__title {
      color: #fff;
      font-weight: 700;
      font-size: 60px;
      line-height: 75px;
		margin: 0px 0px 90px 0px;
   }

   // .contact-map__block-map

   &__block-map {
      height: 800px;
      min-height: 350px;
      position: relative;
      iframe {
         width: 100%;
         height: 100%;
      }
   }

	// .contact-map__block-container

	&__block-container{
		
	}

   // .contact-map__box

   &__box {
		position: absolute;
      top: 0;
		background-color: #272727;
		padding: 90px;
   }

   // .contact-map__box-title

   &__box-title {
   }

   // .contact-map__address

   &__address {
   }

   // .contact-map__tel

   &__tel {
   }

   // .contact-map__mail

   &__mail {
   }

   // .contact-map__follow

   &__follow {
   }

   // .contact-map__data-time

   &__data-time {
   }

   // .contact-map__data

   &__data {
   }

   // .contact-map__time

   &__time {
   }

   // .contact-map__title-form

   &__title-form {
   }

   // .contact-map__form

   &__form {
   }

   // .contact-map__form-top

   &__form-top {
   }

   // .contact-map__input-name

   &__input-name {
   }

   // .contact-map__form-bottom

   &__form-bottom {
   }

   // .contact-map__message

   &__message {
   }

   // .contact-map__submit

   &__submit {
   }
}
