@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy/gilroy-bold.woff),
	url(../fonts/Gilroy/gilroy-bold.woff2);
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy/gilroy-semibold.woff),
	url(../fonts/Gilroy/gilroy-semibold.woff2);
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy/gilroy-medium.woff),
	url(../fonts/Gilroy/gilroy-medium.woff2);
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Gilroy";
	src: url(../fonts/Gilroy/gilroy-regular.woff),
	url(../fonts/Gilroy/gilroy-regular.woff2);
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Work-Sans";
	src: url(../fonts/Work-Sans/work_sans_bold.woff),
	url(../fonts/Work-Sans/work_sans_bold.woff2);
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "Work-Sans";
	src: url(../fonts/Work-Sans/work_sans_semibold.woff),
	url(../fonts/Work-Sans/work_sans_semibold.woff2);
	font-display: swap;
	font-style: normal;
	font-weight: 600;
}
@font-face {
	font-family: "Work-Sans";
	src: url(../fonts/Work-Sans/work_sans_medium.woff),
	url(../fonts/Work-Sans/work_sans_medium.woff2);
	font-display: swap;
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Work-Sans";
	src: url(../fonts/Work-Sans/work_sans.woff),
	url(../fonts/Work-Sans/work_sans.woff2);
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}